---
import "../styles/global.css";

const index = [1, 2, 3, 4];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <main class="min-h-screen p-4 text-neutral-900">
      <div class="md:container">
        <h1 class="text-2xl">Pokedex</h1>

        <section
          class="mt-4 grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4"
        >
          {
            index.map(() => (
              <div class="relative min-h-36 rounded-2xl bg-emerald-600 p-4 text-white">
                <p class="font-bold">Pokemon</p>
                <p>Type</p>

                <img
                  alt=""
                  class="absolute right-4 bottom-4 h-20 w-20"
                  src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg"
                />
              </div>
            ))
          }
        </section>
      </div>
    </main>
  </body>
</html>
