---
import List from "../components/List";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Pokedex</title>
  </head>

  <body>
    <main class="min-h-screen p-4 text-black">
      <div class="md:container">
        <h1 class="text-center text-4xl font-bold lg:text-6xl">Pokedex</h1>
        <List client:load />
      </div>
    </main>
  </body>
</html>
